@keyframes fade-up {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes fade-down {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes fade-left {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes fade-right {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: "";
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.fade-up {
		animation: fade-up 800ms ease-in-out 0s forwards;
	}

	.riAnimation_fade-up {
		opacity: 0;
	}

	.fade-down {
		animation: fade-down 800ms ease-in-out 0s forwards;
	}

	.riAnimation_fade-down {
		opacity: 0;
	}

	.fade-left {
		animation: fade-left 800ms ease-in-out 0s forwards;
	}

	.riAnimation_fade-left {
		opacity: 0;
	}

	.fade-right {
		animation: fade-right 800ms ease-in-out 0s forwards;
	}

	.riAnimation_fade-right {
		opacity: 0;
	}

	.fade-in {
		animation: fade-in 800ms ease-in-out 0s forwards;
	}

	.riAnimation_fade-in {
		opacity: 0;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	[riAnimate], [riAnimate] * {
		animation: none !important;
		opacity: 1;
	}
}